#config-overlay {
    text-align: center;
}
  
#config-overlay h2 {
    margin: 0.5rem 0;
}
  

#overlay-input-form{
    margin: 0.5rem 0;
}

#overlay-input-form label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#overlay-input-form input{
    font: inherit;
    border: 1px solid var(--color-nutral-500);
    width: 15rem;
    padding: 0.35rem;
}

#game-configuration-section {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    text-align: center;
  }
  
  #game-configuration-section ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #game-configuration-section li {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: var( --color-nutral-400);
    box-shadow: var(--box-shadow-100);
  }

  #game-configuration-section #player-1-card{
    border-radius: 10% 30% 50% 70%;
  }

  #game-configuration-section #player-2-card{
    border-radius:  30% 10% 70% 50%;
    /* border-radius:  50% 70% 10% 30%; */
  }

  
  #game-configuration-section h2 {
    font-size: var(--f-size-1);
    margin: 0.5rem 0;
  }
  
  #game-configuration-section h3 {
    font-size: var(--f-size-2);
    margin: 0.5rem 0;
    color: var(--color-primary-700);
    text-transform: uppercase;
  }
  
  .player-symbol {
    font-size: var(--f-size-3);
    font-weight: bold;
    margin: 2rem 0 1rem 0;
  }

  .class-o{
    color:crimson;
  }

  .class-x{
    color:blue;
  }




